<%- include('partials/header') %>

    <h2>Home</h2>
    <p> <%= IndexContent %> </p>

    <% posts.forEach(post => { %>
        <h2> <%= post.title%> </h2>
        <p> <%= post.content.substring( 0, 110)+`...` %> 
        <a href="/posts/<%= post.title %>" class="ContCon"> Read More </a>
    </p>
    <% }) %>

<%- include('partials/footer') %>